body {
  background: url("http://subtlepatterns.com/patterns/scribble_light.png");
  margin: 0 auto; }

.navbar {
  background-color: #FFF;
  height: 90px;
  margin: 2% 0; }
  .navbar .nav-button {
    background: transparent;
    border: none;
    display: inline-block;
    float: left;
    height: 100%;
    padding: 0;
    width: 14%; }
  .navbar .container, .navbar nav {
    height: 100%; }
  .navbar #navSearch, .navbar #navButtons {
    height: 50%; }
  .navbar #navSearch #logo {
    background: transparent url("icons/cupcake.png") center center/contain no-repeat scroll; }
  .navbar #navSearch #search {
    display: inline-block;
    height: 100%;
    margin-left: 1%;
    width: 85%; }
    .navbar #navSearch #search:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    .navbar #navSearch #search #searchBox {
      border-radius: 5px;
      box-sizing: border-box;
      height: 87.5%;
      width: 98%;
      /*#search's :before content has a hidden width of 2%*/ }
  .navbar #navButtons {
    margin-top: 3px; }
    .navbar #navButtons .nav-button {
      margin-right: 30px; }
    .navbar #navButtons #userButton {
      background: transparent url("icons/user.png") center center/contain no-repeat scroll; }
    .navbar #navButtons #messageButton {
      background: transparent url("icons/mail.png") center center/contain no-repeat scroll; }
    .navbar #navButtons #addButton {
      background: transparent url("icons/plus.png") center center/contain no-repeat scroll; }

@media screen and (min-width: 768px) {
  .navbar {
    height: 40px; }
    .navbar #navSearch, .navbar #navButtons {
      height: 100%;
      padding: 0; }
    .navbar #logo {
      width: 8%; }
    .navbar #search {
      width: 91%; }
    .navbar #navButtons {
      margin-top: 0; }
      .navbar #navButtons .nav-button {
        height: 100%;
        margin: 0 0 0 10%;
        width: 23%; } }

@media screen and (min-width: 768px) {
  #navWrapper {
    background: white;
    margin-top: 10px;
    padding: 0 15px; } }

@media screen and (min-width: 992px) {
  .navbar {
    margin: 1% 0; } }

.post-wrapper {
  padding: 4px; }
  .post-wrapper .post {
    background: #FEFEFE;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    opacity: 1;
    padding: 15px 15px 3px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
    .post-wrapper .post img {
      border-bottom: 1px solid #ccc;
      margin-bottom: 5px;
      padding-bottom: 15px;
      width: 100%; }
    .post-wrapper .post p {
      color: #333;
      font: 12px/18px Arial, sans-serif;
      margin: 0; }
