.navbar {
    background-color:#FFF;
    height: 90px;
    margin: 2% 0;
}

.navbar .container, nav {
    height: 100%
}

#navSearch, #navButtons {
    height: 50%;
}

.nav-button {
    background: transparent;
    border: none;
    display: inline-block;
    float: left;
    height: 100%;
    padding: 0;
    width: 14%;
}

#logo {
    background: transparent url('icons/cupcake.png') center center/contain no-repeat scroll;
}

#search{
    display: inline-block;
    height: 100%;
    margin-left: 1%;
    width: 85%;
}

#search:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#searchBox {
    border-radius: 5px;
    box-sizing: border-box;
    height: 87.5%;
    width: 98%; /*#search's :before content has a hidden width of 2%*/
}

#navButtons {
    margin-top: 3px;
}

#navButtons button {
    margin-right: 30px;
}

#userButton {
    background: transparent url('icons/user.png') center center/contain no-repeat scroll;
}

#messageButton {
    background: transparent url('icons/mail.png') center center/contain no-repeat scroll;
}

#addButton {
    background: transparent url('icons/plus.png') center center/contain no-repeat scroll;
}

@media screen and (min-width: 768px) {
    .navbar {
        height: 40px;
    }

    #navSearch, #navButtons {
        height: 100%;
        padding: 0;
    }

    #logo {
        width: 8%;
    }

    #search {
        width: 91%;
    }

    #navButtons {
        margin-top: 0;
    }

    #navButtons button {
        height: 100%;
        margin: 0 0 0 10%;
        width: 23%;
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        margin: 1% 0;
    }

    #navButtons button {
        float: right;
        margin-left: 7%;
    }
}