$post-bg: #FEFEFE;
$post-border-color: #FAFAFA;
$post-box-shadow: rgba(34, 25, 25, 0.4);

@mixin post-appear($speed: 200ms) {
	-webkit-transition: all $speed ease;
	-moz-transition: all $speed ease;
	-o-transition: all $speed ease;
	transition: all $speed ease;
}

.post-wrapper {
	padding: 5px;

	.post {
		background: $post-bg;
		background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
		border: 2px solid $post-border-color;
		box-shadow: 0 1px 2px $post-box-shadow;
		opacity: 1;
		padding: 15px 15px 5px;
		@include post-appear();

		img {
			border-bottom: 1px solid #ccc;
			margin-bottom: 5px;
			padding-bottom: 15px;
			width: 100%;
		}

		p {
			color: #333;
			font: 12px/18px Arial, sans-serif;
			margin: 0;
		}
	}
}
