@import "variables";

#navWrapper {
  margin: 0 auto;
  padding: 1% 2%;

  .navbar {
    background-color: #FFF;
    height: 90px;
    margin: 2% 0;

    .container, nav {
      height: 100%
    }

    #navSearch, #navButtons {
      height: 50%;
    }

    #navSearch {

      #logo {
        background: transparent url($logo-uri) center center/contain no-repeat scroll;
        border: none;
        display: inline-block;
        float: left;
        height: 100%;
        padding: 0;
        width: 14%;
      }

      #search {
        display: inline-block;
        height: 100%;
        margin-left: 1%;
        width: 85%;

        &:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }

        #searchBox {
          border-radius: 5px;
          box-sizing: border-box;
          height: 87.5%;
          width: 98%; /*#search's :before content has a hidden width of 2%*/
        }
      }
    }

    #navButtons {
      margin-top: 3px;

      .nav-button {
        margin: 0 0.3em;
        font-size: 2.3em;
      }

      #userButton {
        color: #E82E0A;
      }

      #messageButton {
        color: #FFA300;
      }

      #addButton {
        color: #0EEF07;
      }
    }
  }
}
@media screen and (min-width: 375px) {
 #navWrapper {
   .navbar {
     #navButtons {
       .nav-button {
         margin: 0 0.8em;
       }
     }
   }
  }
}

@media screen and (min-width: 768px) {
  #navWrapper {
    background: $nav-bg;
    margin-top: 10px;
    padding: 0 15px;

    .navbar {
      height: 40px;

      #navSearch, #navButtons {
        height: 100%;
        padding: 0;
      }

      #navButtons {
        .nav-button {
          margin: 0 0.3em;
        }
      }

      #logo {
        width: 8%;
      }

      #search {
        width: 91%;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #navWrapper {
    .navbar {
      margin: 1% 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  #navWrapper {
    .navbar {
      #navButtons {
        .nav-button {
          font-size: 3.3em;
        }
      }
    }
  }
}