$body-bg-img: 'http://subtlepatterns.com/patterns/scribble_light.png';
$body-bg: url($body-bg-img);
$logo-uri: 'icons/cupcake.png';
$nav-bg: white;
$user-icon-uri: 'icons/user.png';
$message-icon-uri: 'icons/mail.png';
$add-dessert-icon-uri: 'icons/plus.png';
$post-bg: #FEFEFE;
$post-border-color: #FAFAFA;
$post-box-shadow: rgba(34, 25, 25, 0.4);