<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <configSections>
 </configSections>
 <connectionStrings>
  <add name="LikeMyDessert" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LikeMyDessert_Test;Trusted_Connection=True;" />
 </connectionStrings>
	<appSettings>
		<add key="PhotoDirectory" value="/" />
    <add key="TempDirectory" value="C:\Projects\LikeMyDessert\Projects\LikeMyDessert.Tests\IntegrationTests\Content\Temp" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
