<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
 </configSections>
 <connectionStrings>
  <add name="LikeMyDessert" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LikeMyDessert_Test;Trusted_Connection=True;"/>
 </connectionStrings>
	<appSettings>
		<add key="PhotoDirectory" value="/"/>
    <add key="TempDirectory" value="C:\Projects\LikeMyDessert\Projects\LikeMyDessert.Tests\IntegrationTests\Content\Temp" />
  </appSettings>
</configuration>