#add-form-container{
	#add-form{
		display: none;
	}
	.error{
		color: Red;
		display: none;
	}
	#Name{
		width: 274.633px
	}
	#PictureContainer{
		position: relative;

		#PictureUploader{
			width: 274.633px
		}
		#Image{
			height: 100px;
			width: 100px;
		}
		#change-button{
			background: red;
			border-radius: 4px;
			bottom: 5px;
			color: white;
			left: 105px;
			line-height: 24px;
			padding: 0 5px;
			position: absolute;
			text-align: center;
			text-decoration: none;
		}
	}
	#Description{
		height: 120px;
		width: 534px;
	}
}

#add-success{
	color: Green;
	font-size: 50px;
	font-weight: bolder;
	height: 306.567px;
	line-height:306.567px;
	text-align: center;
	width: 534px;
}