@import "Pallet.less";
@import "Mixins.less";

/*Global Styles
----------------------------------------------------------*/
body {
    background-color: @body_color;
    font-size: 1em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: @text_color;
}

header,
footer,
nav,
section {
    display: block;
}

/* MAIN CONTENT
----------------------------------------------------------*/
#main{
	position: relative;
}


