<header>
    <div id="header_content" class="container_12">
        <div id="title" class="grid_9 alpha">
            <h1>Like My Dessert :)</h1>
        </div>
        <img src="../../Content/images/layer%20cake.jpg" id="header_pic" class="grid_3 omega" alt="layer cake"/>
        <div class="clear"></div>
    </div>
    <nav>
        <ul id="navigator" class="container_12">
            <li class="grid_1">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="grid_1">@Html.ActionLink("About", "About", "Home")</li>
        </ul>
        <div class="clear"></div>
    </nav>
</header>

<script src="../../Scripts/header.js" type="text/javascript"></script>
