@{
    ViewBag.Title = "About Us";
}

<section id="about-page">
    <header>
        <h2>Dessert Demo!</h2>
    </header>
    <p>
        This is a simple MVC application to explain layering.
    </p>
</section>